doctype html
html
  head
    title #{pageTitle}
    link(rel="stylesheet" href="/client/assets/css/style.css")
  body
    include ../partials/header.pug

    block main

    include ../partials/footer.pug

    script(src="/client/assets/js/script.js")