doctype html 
html 
  head 
    title #{pageTitle}
    link(rel="stylesheet" href="http://localhost:3000/assets/css/style.css")
  body 
    include ../partials/header.pug

    block main

    include ../partials/footer.pug


    script(src="http://localhost:3000/assets/js/script.js") 